@model TreinaWeb.Musicas.Web.ViewModels.Album.AlbumIndexViewModel

@{
    ViewBag.Title = "Delete";
}

<h2 id="titulos">Excluir</h2>

<h3>Você tem certeza que deseja excluir este álbum?</h3>
<div>
    <h4 id="subTitulos">Álbum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="EXCLUIR" class="btn btn-danger" /> |
            @Html.ActionLink("Lista de Álbum", "Index")
        </div>
    }
</div>
