@model TreinaWeb.Musicas.Web.ViewModels.Musica.MusicaIndexViewModel

@{
    ViewBag.Title = "Details";
}

<h2 id="titulos">Detalhes</h2>

<div>
    <h4 id="subTitulos">Música</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAlbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAlbum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Lista de Música", "Index")
</p>
